<table class="flyer-meta">
  <thead></thead>
  <tbody>
    <tr>
      <td>Creator:</td>
      <td>
        <a href="mailto:{{ page.creator_email }}?subject=greenismy.life%20flyer"
          title="Email this flyer's creator">{{ page.creator }}</a>
      </td>
    </tr>
    <tr>
      <td>Flyer:</td>
      <td>
        <a target="_blank" title="(opens in a new tab)"
           href="/flyers/{{ page.flyer_basename }}.pdf">
          {{ page.flyer_basename }}.pdf</a>
        {% if page.has_svg %}
        &nbsp;
        [<a target="_blank" title="(opens in a new tab)"
           href="/flyers/{{ page.flyer_basename }}.svg">SVG version</a>]
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Source(s):</td>
      <td>
        {% for source in page.sources %}
        <a href="{{ source.url }}">{{ source.name }}</a>
        {% if forloop.last == false %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
